
<!-- <table border> -->
    <!--<tr><td attr.colspan="{{cols}}">{{title}}</td></tr> -->
    <!-- <tr><td [attr.colspan]="cols">{{title}}</td></tr>

    <tr>
      <tr>
          <td>FirstName</td>
          <td>{{fname}}</td>
      </tr>
      <tr>
        <td>LastName</td>
        <td>{{lname}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{gender}}</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>{{salary}}</td>
    </tr>
  </table> -->

  <!--Employee Component Data-->
  <!-- <app-employee></app-employee> -->

  <!-- <div *ngIf="displaydiv">This is div tag</div> -->

<!-- <div *ngIf="displaydiv;else elseBlock">
    <h3>This is true block</h3>
</div>
<ng-template #elseBlock>
    this is false block
</ng-template> -->


<!-- <div *ngIf="displaydiv; then tblock else fblock">
</div>
<ng-template #tblock>hello</ng-template>
<ng-template #fblock><h1>good bye</h1></ng-template>

<ng-template [ngIf]="displaydiv">
    <h3>This is true block</h3>
</ng-template> -->

<!-- <ol *ngFor="let k of colors">
    <li>{{k}}</li>
</ol> -->

<!-- <div *ngFor="let key of colors;index as i;
first as f;last as l;even as e;odd as o">
    <h2>{{i}} {{key}} {{f}} {{l}} {{e}} {{o}}</h2>
</div> -->

<!-- <app-assignment></app-assignment> -->

<app-emp-list></app-emp-list>

<!-- <app-trvdemo></app-trvdemo> -->
<!-- <app-parentlifecycle></app-parentlifecycle> -->

<!-- <app-pipedemo></app-pipedemo> -->