<app-emp-count 
[all]="getTotalEmp()"
[male]="getTotalMaleEmp()"
[female]="getTotalFemaleEmp()"
(OnRadioBtnSelectionChange)="OnRadioButtonChanged($event)"></app-emp-count>
<table border style="border-collapse:collapse">
    <tr>
        <th>Sr. No</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Gender</th>
        <th>Salary</th>
        <th>HireDate</th>
    </tr>
<ng-container *ngFor="let emp of Employee;index as i">
    <tr  *ngIf="radiobtnvalue=='all' || radiobtnvalue==emp.gender">
        <td>{{i+1}}</td>
        <td>{{emp.fname}}</td>
        <td>{{emp.lname}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.hiredate}}</td>
    </tr>
</ng-container>
</table> 
